@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(183, 155, 155, 0.53);
} */

::-webkit-scrollbar-thumb {
  background: brown;
}

::-moz-selection {
  background: #ae77694d;
}
::selection {
  background: #ae77694d;
}

body {
  overflow-x: hidden;
  transition: color 0.2s, background-color 0.2s;
  color: white;
}

.text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Login */
#loginContainer {
  background: linear-gradient(to right, #4b2f28 50%, #a96b5c 50%);
}
